* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0px 80px;
    font-family: Arial, sans-serif;
}

header {
    background-color: #8bd7e1;
    color: white;
    padding: 10px 9px;
    margin: 0 auto; /* Căn giữa */
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.logo {
    display: flex;
    align-items: center;
}

    .logo img {
        width: 75px;
        height: auto;
        margin-right: 10px;
    }

.nav-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}


.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    width: 350px;
}

    .search-bar input {
        width: 100%;
        padding: 8px;
        border: none;
        border-radius: 5px;
        outline: none;
    }

.search-button {
    background-color: #ffffff;
    border: none;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
}

    .search-button:hover {
        background-color: white;
    }

.search-icon {
    width: 30px;
    height: 20px;
    fill: rgb(8, 8, 8);
}

.user-options a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

.more-options a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

#featureProd {
    text-align: left;
}

    #featureProd h2 {
        font: arial;
        font-size: 2rem;
        margin-bottom: 10px;
    }

    #featureProd h1 {
        font: arial;
        font-size: 1rem;
    }

.prodContainer {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

#textFeature {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.explore-button {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.product-item mark {
    background-color: red;
    border-radius: 4px;
    color: whitesmoke;
}

.product-item img {
    width: 100%;
    border-radius: 4px;
}

.product-item {
    width: 100%;
    flex: 1;
}

.prodDescription {
    font: arial;
    font-size: 15px;
}

.prodPrice s {
    color: lightgrey;
}

.button-container2 {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn1 {
    background-color: #2d4a4c; /* Màu nền nút */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 15px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi di chuột */
    border-radius: 4px; /* Bo tròn góc */
    flex: 1; /* Mỗi nút chiếm đều không gian */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    height: 60px;
}

.btn2 {
    background-color: #92dcec; /* Màu nền nút */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 15px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi di chuột */
    border-radius: 4px; /* Bo tròn góc */
    flex: 1; /* Mỗi nút chiếm đều không gian */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    height: 60px;
}

.btn3 {
    background-color: #c76437; /* Màu nền nút */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 15px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi di chuột */
    border-radius: 4px; /* Bo tròn góc */
    flex: 1; /* Mỗi nút chiếm đều không gian */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    height: 60px;
}

.btn4 {
    background-color: #2d4a4c; /* Màu nền nút */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 15px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi di chuột */
    border-radius: 4px; /* Bo tròn góc */
    flex: 1; /* Mỗi nút chiếm đều không gian */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    height: 60px;
}

.btn5 {
    background-color: #696161; /* Màu nền nút */
    color: white; /* Màu chữ */
    border: none; /* Không có viền */
    padding: 15px; /* Khoảng cách bên trong */
    text-align: center; /* Canh giữa văn bản */
    text-decoration: none; /* Không gạch chân */
    font-size: 16px; /* Kích thước chữ */
    cursor: pointer; /* Con trỏ khi di chuột */
    border-radius: 4px; /* Bo tròn góc */
    flex: 1; /* Mỗi nút chiếm đều không gian */
    margin: 0 5px; /* Khoảng cách giữa các nút */
    height: 60px;
}

#gameSteam {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btnGameSteam {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

#productList h2 {
    font: arial;
    font-size: 2rem;
    margin-bottom: 10px;
}

#productList h1 {
    font: arial;
    font-size: 1rem;
}

.prodSteam {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

    .prodSteam img {
        height: 60%;
    }

#prodNew {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #prodNew h2 {
        font: arial;
        font-size: 2rem;
        margin-bottom: 10px;
    }

.btnprodNew {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.productNew {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

    .productNew img {
        height: 50%;
    }

#prodStudy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #prodStudy h2 {
        font: arial;
        font-size: 2rem;
        margin-bottom: 10px;
    }

.btnprodStudy {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.productStudy {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

    .productStudy img {
        height: 50%;
    }

#prodEntertainment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #prodEntertainment h2 {
        font: arial;
        font-size: 2rem;
        margin-bottom: 10px;
    }

.btnprodEntertainment {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.productEntertainment {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

    .productEntertainment img {
        height: 50%;
    }

#prodWork {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

    #prodWork h2 {
        font: arial;
        font-size: 2rem;
        margin-bottom: 10px;
    }

.btnprodWork {
    background-color: #1d38ea;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
}

.productWork {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

    .productWork img {
        height: 50%;
    }
